
@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuenteBai;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.contenedor{
    width: 80%;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 