//Pantallas
$telefono : 375px;
$tablet : 768px;
$desktop : 1440px;

//Colores
$cyan : hsl(171, 66%, 44%);
$blue : hsl(233, 100%, 69%);
$darkGray : hsl(210, 10%, 33%);
$grayBlue : hsl(202, 5%, 59%);
$grayBlueClaro : hsl(202, 21%, 93%);

//Tipo de letra
$fuenteUno: 1.8rem;

//Tipo de fuente
$fuenteBai: 'Bai Jamjuree', sans-serif;

//Grosor fuente
$grosorUno: 400;
$grosorDos: 600;