@use 'base/variables' as v;
@use 'base/mixins' as m;

.main{
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.telefono{
       padding-top: 12rem;
    }
}

//Area Keep track of your snippets
.snippets{
    h2{
        @include m.titulo;
    }

    p{
        @include m.tituloParrafo;
    }

    @include m.telefono{
        p{
            width: 90%;
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }

    .menu_snippets{
        display: flex;
        gap: 6rem;

        figure{
            width: 50%;
        }

        @include m.telefono{
            flex-direction: column;
         
            figure{
                width: 90%;
                margin: 0rem auto;
            }
        }
    }

    .text_snippets{        
        display: flex;
        flex-direction: column;
    }
}

.segmento_snippets{
    h3{
        font-size: 2rem;
        margin-top: 12rem;
    }
    p{
        width: 60%;
        text-align:left;
        margin: 0;
    }

    @include m.desktop{
        h3{
            margin-top: 4rem;
        }
    }    

    @include m.telefono{
        h3{
            text-align: center;
            margin-top: 6rem;
        }
        p{
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }    
}

//Area Access Clipboard anywhere
.clipboard{
    h2{
        @include m.titulo;
    }

    p{
        @include m.tituloParrafo;
    }

    @include m.desktop{
        p{
            width: 55%;
        }
    }

    @include m.telefono{
        margin-top: 10rem;

        p{
            width: 90%;
        }
    }

    img{
        width: 60%;
        margin: 0 auto;

        @include m.telefono{
            width: 100%;
        }
    }

    
}

.workflow{
    h2{
        @include m.titulo;
    }

    p{
        @include m.tituloParrafo;
        @include m.telefono{
            width: 90%;
        }
    }
}

.flujos{
    width: 80%;
    margin: 15rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include m.telefono{
        margin-top: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 3rem;
    }
}

.flujo{
    display: flex;
    flex-direction: column;
    h3{        
        @include m.titulo;
        text-align: center;
    }
    p{
        @include m.tituloParrafo;
        margin: 0;
        width: 100%;
    }

    @include m.telefono{
        margin-top: 2rem;
    }
}


.icon{
    width: 15%;
    height: 7rem;
    align-self: center;
}

.marcas{
    display: flex;
    justify-content: space-around;
    img{
        width: 10%;
    }

    @include m.telefono{
        flex-direction: column;
        align-items: center;
        img{
            width: 50%;
            margin-top: 8rem;
        }
    }
}

.clipboardMac{
    margin-top: 10rem;
    h2{
        @include m.titulo;
    }
    p{
        @include m.tituloParrafo;
        color: v.$darkGray;
        width: 50%;
    }

    .download{
        width: 25%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: #FFF;
        font-size: 2rem;
    }

    .btn{
        padding: 1.5rem 2.5rem;
        border-radius: 3rem;

        &:visited{
            color: #FFF;
        }
    }

    .btn_verde{
       background: v.$cyan; 
       color: #FFF;
    }

    .btn_azul{
        background: v.$blue;
        color: #FFF;    
    }

    @include m.desktop{
        .download{
            width: 40%;
        }
    }

    @include m.telefono{
        .download{
            width: 90%;
            flex-direction: column;
        }

        p{
            width: 90%;
        }

        .btn_verde{
            color: #FFF;
         }
     
         .btn_azul{
            margin-top: 2rem;
             color: #FFF;
         }
    }
}